{% extends 'common/index.html' %}
{% load static %}

{% block content %}
    <div class="container-fluid tm-container-content tm-mt-60">
        <div class="row mb-4">
            <h2 class="col-12 tm-text-primary">{{video.title}}</h2>
        </div>
        <div class="row tm-mb-90" style="max-height:30%; width:100%">            
            <div class="col-xl-8 col-lg-7 col-md-6 col-sm-12">
                <video autoplay  loop controls id="tm-video">
                    <source src="{{video.video_url}}" type="video/mp4">
                </video>  
            </div>
            <div class="col-xl-4 col-lg-5 col-md-6 col-sm-12">
                <div class="tm-bg-gray tm-video-details">
                    <p class="mb-4">
                       {{video.description}}
                    </p>
                    <div class="text-center mb-5">
                        <a href="#" class="btn btn-primary tm-btn-big">Download</a>
                    </div>                    
                    <div class="mb-4 d-flex flex-wrap">
                        <div class="mr-4 mb-2">
                            <span class="tm-text-gray-dark">Resolution: </span><span class="tm-text-primary">1920x1080</span>
                        </div>
                        <div class="mr-4 mb-2">
                            <span class="tm-text-gray-dark">Format: </span><span class="tm-text-primary">{{video.format}}</span>
                        </div>
                        <div>
                            <span class="tm-text-gray-dark">Duration: </span><span class="tm-text-primary">{{video.duration}}</span>
                        </div>
                    </div>
                    
                    <div>
                        <h3 class="tm-text-gray-dark mb-3">Tags</h3>
                        {% for tag in tags %}
                        <a href="{% url 'tag-detail' tag.id %}" class="tm-text-primary mr-4 mb-2 d-inline-block">{{tag.name}}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {% if related_videos %}
        <div class="row mb-4">
            
            <h2 class="col-12 tm-text-primary">
                Related Videos
            </h2>
        </div>
        <div class="row mb-3 tm-gallery">
            {% for video in related_videos %}
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
                <figure class="effect-ming tm-video-item">
                    <video autoplay muted loop controls id="tm-video">
                        <source src="{{video.video_url}}" type="video/mp4">
                    </video> 
                    <figcaption class="d-flex align-items-center justify-content-center">
                        <h2>{{video.title}}</h2>
                        <a href="{% url 'video-detail' video.slug %}">View more</a>
                    </figcaption>                    
                </figure>
                <div class="d-flex justify-content-between tm-text-gray">
                    <span class="tm-text-gray-light">{{video.created_at|date:"d M Y"}}</span>
                    <span>{{video.views}} views</span>
                </div>
            </div>
            {% endfor %}
        {% endif %}
    </div>

    {% endblock %}