{% extends 'common/index.html' %}
{% load static %} 

{% block content %}

    <div class="tm-hero d-flex justify-content-center align-items-center" id="tm-video-container">
       
        <video autoplay muted loop id="tm-video">
            <source src="{% static 'video/hero.mp4' %}" type="video/mp4">
        </video>  
        <i id="tm-video-control-button" class="fas fa-pause"></i>
        
        <form class="d-flex position-absolute tm-search-form">
            <input class="form-control tm-search-input" name="query" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success tm-search-btn" type="submit">
                <i class="fas fa-search"></i>
            </button>
        </form>
        
    </div>

    <div class="container-fluid tm-container-content tm-mt-60" id="video-container" >
        <div class="row mb-4">
            <h2 class="col-6 tm-text-primary">
                Latest Videos
            </h2>
            <div class="col-6 d-flex justify-content-end align-items-center">
                <form action="" class="tm-text-primary">
                  {% if page_obj.number != page_obj.paginator.num_pages|add:'-1' %}
                    Page <input type="text" value="1" size="1" class="tm-input-paging tm-text-primary"> of
                    {{page_obj.paginator.num_pages}}
                  {% endif %}
                </form>
              </div>
        </div>
        <div class="row tm-mb-90 tm-gallery">
            {% for video in videos %}
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
                <figure class="effect-ming tm-video-item">
                    <video autoplay muted loop id="tm-video">
                        <source src="{{video.video_url}}" type="video/mp4">
                    </video> 
                    <figcaption class="d-flex align-items-center justify-content-center">
                        <h2>{{video.title}}</h2>
                        <a href="{% url 'video-detail' video.slug %}">View more</a>
                    </figcaption>                    
                </figure>
                <div class="d-flex justify-content-between tm-text-gray">
                    <span>{{video.created_at.date|date:"d M Y"}}</span>
                    <span>{{video.views}} views</span>
                </div>
            </div>
            {% empty %}
            <h4 class="tm-text-gray-light" style="margin:100px 0; text-align:center;">No videos available</h4>
            {% endfor %}
            
        </div>
         
        </div> <!-- row -->
        
    
    <script>
      

        $(function(){
            /************** Video background *********/

            function setVideoSize() {
                const vidWidth = 1280;
                const vidHeight = 720;
                const maxVidHeight = 400;
                let windowWidth = window.innerWidth;
                let newVidWidth = windowWidth;
                let newVidHeight = windowWidth * vidHeight / vidWidth;
                let marginLeft = 0;
                let marginTop = 0;
            
                if (newVidHeight < maxVidHeight) {
                    newVidHeight = maxVidHeight;
                    newVidWidth = newVidHeight * vidWidth / vidHeight;
                }
            
                if(newVidWidth > windowWidth) {
                    marginLeft = -((newVidWidth - windowWidth) / 2);
                }
            
                if(newVidHeight > maxVidHeight) {
                    marginTop = -((newVidHeight - $('#tm-video-container').height()) / 2);
                }
            
                const tmVideo = $('#tm-video');
            
                tmVideo.css('width', newVidWidth);
                tmVideo.css('height', newVidHeight);
                tmVideo.css('margin-left', marginLeft);
                tmVideo.css('margin-top', marginTop);
            }

            setVideoSize();

            // Set video background size based on window size
            let timeout;
            window.onresize = function () {
                clearTimeout(timeout);
                timeout = setTimeout(setVideoSize, 100);
            };

            // Play/Pause button for video background      
            const btn = $("#tm-video-control-button");

            btn.on("click", function (e) {
                const video = document.getElementById("tm-video");
                $(this).removeClass();

                if (video.paused) {
                    video.play();
                    $(this).addClass("fas fa-pause");
                } else {
                    video.pause();
                    $(this).addClass("fas fa-play");
                }
            });
        });
    </script>

{% endblock %}