{% load static %}

<style>
#upload-btn {
    margin-left:50px;
    position:absolute;
    right:50px;
    padding-left:50px;
    padding-right:100px;
    background-color:#fff;
    color:#009999;
    border: solid #009999 4px;
    border-radius: 20px;
    }

#icon {
    padding-left:14px
}

</style>

<div class="tm-hero d-flex justify-content-center align-items-center" data-parallax="scroll" data-image-src="{% static 'img/hero.jpg' %}">
                <form class="d-flex tm-search-form">
                    <input class="form-control tm-search-input" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success tm-search-btn" type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
                {% if request.user.is_authenticated %}
                <button type="submit" id="upload-btn" class="btn btn-outline-success tm-search-btn"><i id="icon" class="fas fa-upload"></i></button>
                {% endif %}
    </div>
    